* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: teal;
}

header {
  background-color: #131116;
  margin-bottom: auto;
}

/* Style the active/current link */
.header a.active {
  background-color: dodgerblue;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 5%;
  padding: 0;
}

nav ul li {
  margin-left: 15%;
  margin-top: 4%;
  margin-bottom: 3%;
}

nav ul li a {
  text-decoration: none;
}

.nav-ul li a {
  color: rgb(44, 86, 179);
  font-size: 1.7rem;
}

nav ul li a:hover {
  background-color: #ddd;
  color: blue;
}

#veido-icon {
  color: white;
  font-size: 60px;
}

.active {
  border-bottom: 1px solid #246cf1;
  font-weight: bold;
  color: white;
}

span {
  display: block;
}

.d-none {
  display: none;
}

main {
  min-height: 50vh;
}

.movies {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}

.movie img {
  width: 100%;
  padding: 5px;
}

.movie .likes .like-p {
  font-size: 1.3rem;
  font-weight: 500;
}

.movie .likes {
  display: flex;
  height: 30px;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
}

.likes .like-button {
  border: none;
  background: transparent;
  margin: 0 3px;
}

.comment-button {
  border: solid;
  border-radius: 50px;
  width: 100%;
  padding: 8px 0;
  font-size: 19px;
  color: rgb(37, 34, 34);
  background: #24f1b3;
  cursor: pointer;
  margin-top: 5px;
}

.comment-button:hover {
  color: #d6d7d8;
  background: #831e2e;
}

.fa-heart {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

footer {
  margin-top: 70px;
  margin-bottom: 60px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Roboto" sans-serif;
  font-weight: bold;
  color: #000;
  border-top: 2px solid black;
  border-bottom: 2px solid rgb(177, 27, 139);
  border-right: 2px solid rgb(104, 10, 10);
  border-left: 2px solid rgb(83, 45, 126);
  text-align: center; 
} 